html {
  border-top-left-radius: 1px;
  border-top-style: double;
  border-width: 100px;
  border-color: white;
  margin:auto;

}


body {
  background-color: white;
  width: 820px;
  font-family: Verdana;
  color: red;
}

.nav {
  font-size:20px;
  font-family: Verdana;
  background-color: white;
  float:left;
}

.filternav {
  margin:100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

li a{
  text-decoration: none;
  display: block;
  width: 30px;
  height: 30px;
  background-color: black;
  color: white;
  padding: 20px;
  border-style: solid;
  border-color: white;
  border-width: 10px;
  font-family: futura;
  font-weight: bolder;
  text-align: center;
  text-align-last: center;
  font-size: 40px;

}

li a:hover {
  background-color: red;
  color: cyan;
  font-size: 100px;
  width: 100px;
  height: 100px;
}



p {
  font-family: Arial;
}



h1 {
  text-align: left;
  font-size: 68px;
  padding: 30px;
  margin: 0px;
  color: red;
}



h2 {
  text-align: left;
  font-size: 68px;
  padding: 30px;
  margin: 0px;
  color: cyan;
  float:left;

}

.floatme {
  float: right;
  width: 0px;

}
