body {
color: red;
}

.main-text {
  width: 820px;
  margin:auto;
  margin-top:200px;
}

.article-nav {
    background-color: red;
    margin-left:35%;
    position:absolute;
    font-family: verdana;
    font-weight: bolder;
    color:cyan;
}

.article-nav:hover {
  color:White;
}


.rollover{

  color: cyan;
}


.rollover:hover{
  color: red;
  background-color: black;
}

.rollover:active{
  opacity:100%;
}

.change{
  filter:invert(1);
  pointer-events:none;
}

.change.showme{
  filter:invert(0);
}

.invertImage {
  -webkit-filter: invert(1);
  filter: invert(1);
  transition-duration:5s;
  opacity:1;

}

img {
  height: 500px;
  position: absolute;
  margin-right:1000px;
  z-index:-1;
  opacity:0;
}


p {
  font-family:futura;
  color: red;
}

h1 {
  text-align: center;
  border: 10px dashed red;
  background-color: cyan;
  font-size: 68px;
  padding: 30px;
  margin: 0px;
}


.navi {
  font-size:20px;
  font-family: Verdana;
  background-color: white;
  float:left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

li a{
  text-decoration: none;
  display: block;
  width: 30px;
  height: 30px;
  background-color: black;
  color: white;
  padding: 20px;
  border-style: solid;
  border-color: white;
  font-family: futura;
  font-weight: bolder;
  text-align: center;
  text-align-last: center;
  font-size: 40px;

}

li a:hover {
  background-color: red;
  color: cyan;
  font-size: 100px;
  width: 100px;
  height: 100px;
}
