html {

 }

body {

}


.nav {
  font-size:20px;
  font-family: Verdana;
  background-color: white;
  float:left;
  margin-top: 150px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

li a{
  text-decoration: none;
  display: block;
  width: 30px;
  height: 30px;
  background-color: black;
  color: white;
  padding: 20px;
  margin-top: 20px;
  border-style: solid;
  border-color: white;
  font-family: futura;
  font-weight: bolder;
  text-align: center;
  text-align-last: center;
  font-size: 40px;

}

li a:hover {
  background-color: red;
  color: cyan;
  font-size: 100px;
  width: 100px;
  height: 100px;
}

h1 {
  text-align: left;
  font-size: 68px;
  padding: 30px;
  margin-top: 30px;
  color: red;
  line-height: 100px;
}



h2 {
  text-align: left;
  font-size: 68px;
  padding: 30px;
  margin: 0px;
  color: cyan;
  float:left;
  line-height: 100px;

}

.repostimage {
  padding-top: 300px;

}
